.pboard{
    box-align: center;
    margin: 20px auto;
    /* margin-left:550px; */
    padding:40px;
    display: inline-block


}

.plugpair{
    float:left;
    padding-left: 10px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 30px


}

.plugin{
    font-family: 'Special Elite', cursive;
    font-size: 30px
}

.button{
    background-color: #0095ff;
    text-align: center;
    font-size: 20px;
    /* padding: 10px 20px; */
    width:100px;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Special Elite', cursive;
}